.mid5{
  display: flex; /* Use flexbox */
  height: 450px;
  width: 100vw;
  background-color: #F4ECEA;
}
.mid51 {
  flex: 1; /* Take up equal space */
}





.mid5right {
  flex: 1; /* Take up equal space */
  /*background-color: #D9EDE1;  Just for visualization */
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.box3 {
  background-color: lightgrey;
  height: 350px;
  width: 500px;
  position: relative;
  overflow: hidden;
}

.inner-box3 {
  position: absolute; /* Position the inner box */
  top: 45px;
  left: 0;
  height: 73%;
  width: 100%;
  
  background-color: white; /* Different background color */
  border-left: 5px solid green; /* Green left border */
 
}

  .top-content3{
    margin-top: 15px; 
    margin-left: 10px; 
    font-weight: bold;
    font-size: 20px;
  }
  .bottom-content3{
    margin-top: 270px; 
    margin-left: 10px; 
    font-weight: bold;
    font-size: 20px;
  }
  #box13 {
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #02A66B;
  font-size: 15px; /* Adjust the value as desired */
  padding: 7px 15px; /* Adjust the padding values as desired */

}
#box13:hover{
  background-color: #017E50;
}

#pre13 {
  position: absolute;
  top: 0;
  right: 170;
  margin: 0;
  padding: 10px;
  font-size: 15px;
}


.mid51 {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}


#pmid51{

  font-size: 50px;
  font-weight: bold;
  color: black;
}
#pmid52{
  font-weight: bold;
  margin-top: 15px;
  color: black;
}




#p51,#p52,#p53 {
  border-radius: 20px;
  border: none;
  color: white;
  width: 180px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 15px; /* Adjust the value as desired */
  padding: 7px 15px; /* Adjust the padding values as desired */

}
#p54{

  border-radius: 20px;
  border: none;
  color: black;
  width: 180px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 15px; /* Adjust the value as desired */
  padding: 7px 15px; /* Adjust the padding values as desired */

}
#p51{background-color: #02A66B;}
#p52{background-color: #FFF3A1}
#p53{background-color: #282A36}
#p54{background-color: #FFC3C3}
#p51:hover{background-color: #017E50;}
#p52:hover{background-color: #FFE74D}
#p53:hover{background-color: #282A36;}
#p54:hover{background-color: #6F2AEF}